.container {
    display:flex;
    margin:25px;
    background-color: rgb(247, 245, 245);
    justify-content: space-around;
}
.container .column {
    flex:1;
}
.column {
    display:flex;
    flex-direction: column;
    margin:10px;
    justify-content: flex-start;
    text-align: center;
}


.card {
    padding:10px;
    background-color: azure;
    margin-top:5px;
    display:flex;
    text-align: left;
}
.card .content {
    padding: 0px 10px;
    flex-grow: 1;
}
.header1 {
    background-color:#8E6E95;
  }
.header2 {
    background-color:#39A59C;
  }
.header3 {
    background-color:#344759;
    color:white;
  }
.header4 {
    background-color: #e8741e;
  }
  .header1,.header2,.header3,.header4 {
      padding:5px 0px;
  }
  .icon {
      position:relative;
  }
  .btn {
      background-color: azure;
      border:none;
      }
  .btn:hover {
      background-color: lightblue;
  }
  .addbtn {
      background-color: white;
      border:none;
  }